
.body {
  font-family: Arial;
padding: none;
  background: #f1f1f1;
}



.body2 {
  font-family: Arial;
padding: 70px;
  background: #f1f1f1;
}

body, html {
    height: 100%;
}

 .parallax {

  background-image: url(http://i65.tinypic.com/34hw5cj.jpg);


    height: 100%;


    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

.pic {
  padding: 420px;
  text-align:inherit;
  background-image: url(http://i65.tinypic.com/34hw5cj.jpg);
  background-position: center;
  background-size: cover;
}

.top-left {
    position: absolute;
    top: 150px;
    left: 350px;}

.arrow {
      box-sizing: border-box;
      height: 5vw;
      width: 5vw;
      border-style: solid;
      border-color: white;
      border-width: 0px 1px 1px 0px;
      transform: rotate(45deg);
      transition: border-width 300ms ease-in-out;
    }

    .arrow:hover {
      border-bottom-width: 4px;
      border-right-width: 4px;
    }

    .container {
      display: flex;


    }
.arrowposition{
left:100px;
}
    #full {
      left:500px;

    }





.centered {
    position: absolute;
    top: 150px;
    left: 350px;

}
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.textSites {
font-size: 100px;

}


.bottom-center {
  position: absolute;
  bottom: 40px;
  left: 580px;
  font-family: 'Londrina Shadow';
  color:white;

}



#up-arrow a{
  position: absolute;
  transform: rotate(180deg);
  text-decoration: none;
}

.sitesPic{
  margin-left: 100px;
}
.dash
{ border: 0 none;
  border-top: 2px dashed #322f32;
  background: none;
  height:0;
}


.buttons{

  background-color: #469A67;
  padding: 20px;
  color: white;

  font-size: 60px;
  font-family: 'Londrina Shadow';
}

.headerText{

  font-size: 80px;
  font-family: 'Londrina Shadow';
  font-size: 100px;

  color: white;
  padding: 5px;

}


mark {
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 40px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
