<!DOCTYPE html>
<html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">  
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href='https://fonts.googleapis.com/css?family=Londrina Shadow' rel='stylesheet'>

<head>

<body>

{% block picture %}
  <div class="parallax">


    <div class="pic">

    <div class="centered">
      <div class="headerText">
        <h>Adventures in China</h>
      </div>
    </div>
    <div class="top-left">
      <div class="buttons">
      <a  href="{{ url_for('register') }}" style="text-decoration: none;">Sign up!</a>
    </div>
  </div>
{% block signout %}
  <div class="top-right">
    <div class="buttons">
    <a  href="http://set09103.napier.ac.uk:9158/login" style="text-decoration: none;">Sign in!</a>
  </div>
</div>

{% endblock %}
  <div class="bottom-center">
    Scroll for more!
<div class="container">



<a data-scroll href="#full">
<div class="arrow"></div></a>
<div id="full"></div>

  </div>
  </div>
</div>
</div>
{% endblock %}
{% block postbar  %}

{% endblock %}

{% block profile %}

{% endblock %}

{% block posts %}

{% endblock %}

{% block content %}

{% endblock %}

{% block edit %}

{% endblock %}

{% block user %}

{% endblock %}

{% block infoText1 %}


<div style="height:270px;background-color:white; font-family: 'Londrina Shadow'; font-size:38px; margin-left: 100px; margin-top: 10px;">

<p>
  Hey welcome to this blog! In May I was lucky enough to have been given the opportunity to teach Database Systems at a University in Zhengzhou, China. Whilst there I encountered so much I thought I would share. All pictures are from yours truly, strcitly no google images were used in the making of this site! Feel free to look around or post some of your experiences also!
</p>

</div>
{% endblock %}

{% block infoText %}
<div style="height:150px;background-color:white; font-family: 'Londrina Shadow'; font-size:80px; margin-left: 100px; margin-top: 10px;">

Heritage Sites.
</div>



<div style="height:260px;background-color:white; font-family: 'Londrina Shadow'; font-size:38px; margin-left: 170px;  display: inline-block;" >

<img src="http://i64.tinypic.com/suzf5l.jpg" />&emsp;
<img src="http://i68.tinypic.com/30mvexz.jpg" />  &emsp;
<img src="http://i68.tinypic.com/208yc1t.jpg" />

</div>

<div style="height:0px;background-color:white; font-family: 'Londrina Shadow'; font-size:38px; margin-left: 195px;  ">

<a href="http://set09103.napier.ac.uk:9158/index/Sites/YuntaiMountain" style="text-decoration: none;">Yuntai Mountain</a>
&emsp;
</div>

<div style="height:0px;background-color:white; font-family: 'Londrina Shadow'; font-size:38px; margin-left: 560px;  ">

<a href="http://set09103.napier.ac.uk:9158/index/Sites/GreatWall" style="text-decoration: none;">Great Wall of China</a>
&emsp;
</div>

<div style="height:100px;background-color:white; font-family: 'Londrina Shadow'; font-size:38px; margin-left: 960px;  ">

<a href="http://set09103.napier.ac.uk:9158/index/Sites/SummerPalace" style="text-decoration: none;">Summer Palace</a>
&emsp;
</div>

<div style="height:0px;background-color:white; font-family: 'Londrina Shadow'; font-size:38px; margin-left:120px;  margin-right:140px;  border: 0 none;
  border-top: 2px dashed #322f32;
  background: none;
  height:0;">

</div>


<div style="height:150px;background-color:white; font-family: 'Londrina Shadow'; font-size:80px; margin-left: 100px; margin-top: 10px;">

Places.
</div>

<div style="height:260px;background-color:white; font-family: 'Londrina Shadow'; font-size:38px; margin-left: 170px;  display: inline-block;" >

<img src="http://i64.tinypic.com/9k1g61.jpg" />&emsp;
<img src="http://i68.tinypic.com/28bxrbd.jpg" />  &emsp;
<img src="http://i64.tinypic.com/wlelg5.jpg" />

</div>


<div style="height:10px;background-color:white; font-family: 'Londrina Shadow'; font-size:38px; margin-left: 250px;  ">

<p3>Jiaozuo</p3>
&emsp;
</div>

<div style="height:0px;background-color:white; font-family: 'Londrina Shadow'; font-size:38px; margin-left: 640px;  ">

<p3>Beijing</p3>
&emsp;
</div>

<div style="height:100px;background-color:white; font-family: 'Londrina Shadow'; font-size:38px; margin-left: 1000px;  ">

<p3>Zhengzhou</p3>
&emsp;
</div>

<div style="height:10px;background-color:white; font-family: 'Londrina Shadow'; font-size:38px; margin-left:120px;  margin-right:140px;  border: 0 none;
  border-top: 2px dashed #322f32;
  background: none;
  height:0;">

</div>

<div style="height:160px;background-color:white; font-family: 'Londrina Shadow'; font-size:80px; margin-left: 100px; margin-top: 10px;">

Food.
</div>

<div style="height:260px;background-color:white; font-family: 'Londrina Shadow'; font-size:38px; margin-left: 170px;  display: inline-block;" >

<img src="http://i68.tinypic.com/3311vns.jpg" />&emsp;
<img src="http://i68.tinypic.com/24mtblv.jpg" />  &emsp;
<img src="http://i64.tinypic.com/156zrwj.jpg" />

</div>


<div style="height:10px;background-color:white; font-family: 'Londrina Shadow'; font-size:38px; margin-left: 250px;  ">

<p3>Street Food</p3>
&emsp;
</div>

<div style="height:0px;background-color:white; font-family: 'Londrina Shadow'; font-size:38px; margin-left: 640px;  ">

<p3>Hot Pot</p3>
&emsp;
</div>

<div style="height:100px;background-color:white; font-family: 'Londrina Shadow'; font-size:38px; margin-left: 1000px;  ">

<p3>Traditional</p3>
&emsp;
</div>

<div style="height:0px;background-color:white; font-family: 'Londrina Shadow'; font-size:38px; margin-left:120px;  margin-right:140px;  border: 0 none;
  border-top: 2px dashed #322f32;
  background: none;
  height:0;">

</div>

{% endblock %}
</head>




</body>
</html>
