<!DOCTYPE html>
<html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">  
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href='https://fonts.googleapis.com/css?family=Londrina Shadow' rel='stylesheet'>
<script type="text/javascript" src="home.js"></script>

<head>

<body>


  <div class="parallax">


    <div class="pic">

    <div class="centered">
      <div class="headerText">
        <h>Adventures in China</h>
      </div>
    </div>
    <div class="top-left">
      <div class="buttons">
      <a  href="{{ url_for('register') }}" style="text-decoration: none;">Sign up!</a>
    </div>
  </div>
{% block signout %}
  <div class="top-right">
    <div class="buttons">
    <a  href="http://set09103.napier.ac.uk:9158/login" style="text-decoration: none;">Sign in!</a>
  </div>
</div>

{% endblock %}
  <div class="bottom-center">
    Scroll for more!
<div class="container">



<a data-scroll href="#full">
<div class="arrow"></div></a>
<div id="full"></div>

  </div>
  </div>
</div>
</div>
{% block postbar  %}

{% endblock %}

{% block profile %}

{% endblock %}

<div style="height:150px;background-color:white; font-family: 'Londrina Shadow'; font-size:80px; margin-left: 100px; margin-top: 10px;">

Heritage Sites.
</div>



<div style="height:260px;background-color:white; font-family: 'Londrina Shadow'; font-size:38px; margin-left: 170px;  display: inline-block;" >

<img src="http://i64.tinypic.com/suzf5l.jpg" />&emsp;
<img src="http://i68.tinypic.com/30mvexz.jpg" />  &emsp;
<img src="http://i68.tinypic.com/208yc1t.jpg" />

</div>

<div style="height:0px;background-color:white; font-family: 'Londrina Shadow'; font-size:38px; margin-left: 195px;  ">

<p3>Yuntain Mountain</p3>
&emsp;
</div>

<div style="height:0px;background-color:white; font-family: 'Londrina Shadow'; font-size:38px; margin-left: 560px;  ">

<p3>Great Wall of China </p3>
&emsp;
</div>

<div style="height:100px;background-color:white; font-family: 'Londrina Shadow'; font-size:38px; margin-left: 960px;  ">

<p3>Summer Palace</p3>
&emsp;
</div>

<div style="height:0px;background-color:white; font-family: 'Londrina Shadow'; font-size:38px; margin-left:120px;  margin-right:140px;  border: 0 none;
  border-top: 2px dashed #322f32;
  background: none;
  height:0;">

</div>


<div style="height:150px;background-color:white; font-family: 'Londrina Shadow'; font-size:80px; margin-left: 100px; margin-top: 10px;">

Places.
</div>

<div style="height:260px;background-color:white; font-family: 'Londrina Shadow'; font-size:38px; margin-left: 170px;  display: inline-block;" >

<img src="http://i64.tinypic.com/9k1g61.jpg" />&emsp;
<img src="http://i68.tinypic.com/28bxrbd.jpg" />  &emsp;
<img src="http://i64.tinypic.com/wlelg5.jpg" />

</div>


<div style="height:10px;background-color:white; font-family: 'Londrina Shadow'; font-size:38px; margin-left: 250px;  ">

<p3>Jiaozuo</p3>
&emsp;
</div>

<div style="height:0px;background-color:white; font-family: 'Londrina Shadow'; font-size:38px; margin-left: 640px;  ">

<p3>Beijing</p3>
&emsp;
</div>

<div style="height:100px;background-color:white; font-family: 'Londrina Shadow'; font-size:38px; margin-left: 1000px;  ">

<p3>Zhengzhou</p3>
&emsp;
</div>

<div style="height:10px;background-color:white; font-family: 'Londrina Shadow'; font-size:38px; margin-left:120px;  margin-right:140px;  border: 0 none;
  border-top: 2px dashed #322f32;
  background: none;
  height:0;">

</div>

<div style="height:160px;background-color:white; font-family: 'Londrina Shadow'; font-size:80px; margin-left: 100px; margin-top: 10px;">

Food.
</div>

<div style="height:260px;background-color:white; font-family: 'Londrina Shadow'; font-size:38px; margin-left: 170px;  display: inline-block;" >

<img src="http://i68.tinypic.com/3311vns.jpg" />&emsp;
<img src="http://i68.tinypic.com/24mtblv.jpg" />  &emsp;
<img src="http://i64.tinypic.com/156zrwj.jpg" />

</div>


<div style="height:10px;background-color:white; font-family: 'Londrina Shadow'; font-size:38px; margin-left: 250px;  ">

<p3>Street Food</p3>
&emsp;
</div>

<div style="height:0px;background-color:white; font-family: 'Londrina Shadow'; font-size:38px; margin-left: 640px;  ">

<p3>Hot Pot</p3>
&emsp;
</div>

<div style="height:100px;background-color:white; font-family: 'Londrina Shadow'; font-size:38px; margin-left: 1000px;  ">

<p3>Traditional</p3>
&emsp;
</div>

<div style="height:0px;background-color:white; font-family: 'Londrina Shadow'; font-size:38px; margin-left:120px;  margin-right:140px;  border: 0 none;
  border-top: 2px dashed #322f32;
  background: none;
  height:0;">

</div>
</head>





</body>
</html>
