{% extends "base2.html" %}
{% block picture %}
{% endblock %}



{% block infoText1 %}
{% endblock %}


{% block infoText %}
{% endblock %}

{% block signout %}
  <div class="top-right">
    <div class="buttons">
    <a  href="{{ url_for('logout') }}"style="text-decoration: none;">Sign out!</a>
  </div>
</div>
{% endblock %}

{% block postbar %}
<div class="header4">
<div style="height:130px;color: white; font-family: 'Londrina Shadow'; font-size:80px; margin-left: 80px; margin-top: 10px;">
<a href ="http://set09103.napier.ac.uk:9158/ " style="text-decoration:none;">Home. </a> &emsp;
<a  href="{{ url_for('user', username=current_user.username) }}"style="text-decoration: none;">Profile</a> &emsp;
<a href="{{ url_for('index') }}" style="text-decoration: none;">Activity Feed.</a>&emsp;
    </div> </div>
{% endblock %}


{% block content %}

<div style="height:100px;background-color:white; font-family: 'Londrina Shadow'; margin-left: 150px; color:#469A67; font-size:60px; ">
<h>Experience something cool in China? Share it!</h>
</div>
    {% if form %}
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
	{{ form.csrf_token }}
        <p>
 
<div style="height:580px;background-color:white; font-family: 'Londrina Shadow'; font-size:40px; margin-left: 400px; margin-top: 20px; ">
            {{ form.post.label }}<br>
            {{ form.post(cols=28, rows=2) }}<br>
	    {{ form.postphoto.label }} <br>
	    {{ form.postphoto }}
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
</div>
    </form>
    {% endif %} 
{% endblock %}



{% block posts %}
   {% for post in posts %}
        {% include 'posts.html' %}
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older posts</a>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}






