
{% extends "index.html" %}

{% block infoText %}
{% endblock %}

{% block user %}
  
  {% for post in posts %}
    <tr>
       
        {% include 'posts.html' %}
         <div style="height:0px; background-color:white; font-size: 80px; font-family: 'Londrina Shadow'; margin-left: 100px;"> 
          <td width="256px"><img src="{{ user.avatar(256) }}"> {{ user.username }} </td> 
          <td>
           <div style="height:0px;background-color:white; font-family: 'Londrina Shadow'; font-size:30px; margin-left: 25px;">
           <td>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}
                <p>Last seen : Today</p>
                {% endif %}
                <p>{{ _('%(count)d followers', count=user.followers.count()) }}, {{ _('%(count)d following', count=user.followed.count()) }}</p>
                {% if user == current_user %}
                <p><a href="{{ url_for('edit_profile') }}">{{ _('Edit your profile') }}</a></p>
                {% elif not current_user.is_following(user) %}
                <p><a href="{{ url_for('follow', username=user.username) }}">{{ _('Follow') }}</a></p>
                {% else %}
                <p><a href="{{ url_for('unfollow', username=user.username) }}">{{ _('Unfollow') }}</a></p>
                {% endif %}
            </td>
	
        </tr>

    {% endfor %}
</table>
{% endblock %}

</head>




</body>
</html>
